.pin .zuo {
    position: relative;
}

.pin .miao {
    position: absolute;
    width: 77px;
    height: 26px;
    bottom: 14px;
    left: 186px;
    padding-left: 13px;
    border-left: solid 1px #b1191a;
}



.pinyou {

    height: 16px;
    line-height: 16px;
    margin-top: 39px;
    margin-bottom: 10px;
}

.pinyou .yi h4 {
    display: inline-block;
    font-family: MicrosoftYaHei-Bold;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    color: #000000;
    margin-bottom: 14px;
    padding: 0 10px;
}

.pinyou .yi ul li {
    float: left;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #666666;
    padding: 0 23px;
}

.pinyou .yi ul li span {
    font-size: 1px;
}

.pinyou .yi ul li:hover {
    color: #b1191a;
}

.pinyou .nnb {
    border-top: solid 2px #b1191a;
}

.pinyou .er {
    width: 1200px;
    height: 120px;
    background: url(../bd-img/背景banner.png) no-repeat;
    /* margin-top: 14px; */
}

.pinyou .er span {
    font-family: MicrosoftYaHei-Bold;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #c81523;
    vertical-align: middle;
}

.pinyou .er .yi {
    width: 111px;
    margin: 0 auto;
    padding: 27px 0;
}

.pinyou .er .nb {
    width: 207px;
    margin: 0 auto;
}

/* .pinyou .san ul li .tu {
    height: 254px;
    width: 125px;
} */
.pinyou .san ul li {
    float: left;
    width: 299px;
    height: 460px;
    background-color: #ffffff;
    border: solid 1px #e12228;
    margin-left: -1px;
}

.pinyou .san ul li img {
    width: 283px;
}

.pinyou .san ul li p {
    font-family: SimSun;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 17px;
    letter-spacing: 0px;
    color: #666666;
    margin-bottom: 17px;
    margin-left: 13px;
}

.pinyou .san ul li .yi span {
    font-family: MicrosoftYaHei;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #e60012;
    margin-left: 13px;
}

.pinyou .san ul li .yi i {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #a4a4a4;
    text-decoration: line-through;
}

.pinyou .san ul li .err {
    margin: 14px;
}

.pinyou .san ul li .err span {
    font-family: SimSun;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 21px;
    letter-spacing: 0px;
    color: #666666;
}

.pinyou .san ul li .err .tiao {
    width: 133px;
    height: 13px;
    line-height: 13px;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px #e12228;
    margin: 0 4px;
}

.pinyou .san ul li .err .jin {
    width: 111px;
    height: 13px;
    border-radius: 5px;
    background-color: #ed282e;
}

.pinyou .san ul li .err .i {
    font-family: SimSun;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    color: #666666;
}

.pinyou .san ul li .err .nb {
    font-family: SimSun;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #e12228;
}

.pinyou .si {
    width: 300px;
    height: 51px;

    background-color: #b1191a;
}

.pinyou .si h6 {
    font-family: SimSun;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    line-height: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 17px;
}

.pinyou .san .ding {
    position: relative;
}

.pinyou .san .dingg {
    position: absolute;
    width: 68px;
    height: 140px;
    top: 10px;
    right: -70px;
}

.pinyou .san .dingg .shang {
    width: 68px;
    height: 68px;
    font-family: Roboto-Regular;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    line-height: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    background-color: #b1191a;
    border-bottom: 1px solid #fff;

}

.pinyou .san .dingg .shang span {
    display: inline-block;
    margin-top: 10px;
}

.pinyou .san .dingg .tu {
    width: 68px;
    height: 68px;
    background: url(../bd-img/返回顶端.png) no-repeat;
}

.footer {
    margin-top: 2100px;
}